@model IEnumerable<MigrantControlSystem.Models.MigrantskiCentar>

@{
    ViewData["Title"] = "Index";
}

<h1>Migrantski centri</h1>

<p>
    Otvoreni tip: 
    <a asp-controller="OtvoreniTip" asp-action="Create">Kreiraj</a>
    |
    <a asp-controller="OtvoreniTip" asp-action="Index">Prikaži</a>
</p>
<p>
    Zatvoreni tip: 
    <a asp-controller="ZatvoreniTip" asp-action="Create">Kreiraj</a>
    |
    <a asp-controller="ZatvoreniTip" asp-action="Index">Prikaži</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kapacitet)
            </th>
            <th>
                Tip
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kapacitet)
            </td>
            <td>
                @if (item.GetType() == typeof(MCOtvoreniTip))
                {
                    <p>Otvoreni tip</p>
                }
                else
                {
                    <p>Zatvoreni tip</p>
                }
            </td>
            <td>
                @if (item.GetType() == typeof(MCOtvoreniTip))
                {
                    <a asp-controller="OtvoreniTip" asp-action="Edit" asp-route-id="@item.id">Uredi</a>
                }
                else
                {
                    <a asp-controller="ZatvoreniTip" asp-action="Edit" asp-route-id="@item.id">Uredi</a>
                }
                |
                @if (item.GetType() == typeof(MCOtvoreniTip))
                {
                    <a asp-controller="OtvoreniTip" asp-action="Details" asp-route-id="@item.id">Detalji</a>
                }
                else
                {
                    <a asp-controller="ZatvoreniTip" asp-action="Details" asp-route-id="@item.id">Detalji</a>
                }
                |
                @if (item.GetType() == typeof(MCOtvoreniTip))
                {
                    <a asp-controller="OtvoreniTip" asp-action="Delete" asp-route-id="@item.id">Izbriši</a>
                }
                else
                {
                    <a asp-controller="ZatvoreniTip" asp-action="Delete" asp-route-id="@item.id">Izbriši</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
