@model MigrantControlSystem.Models.MCZatvoreniTip

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MCZatvoreniTip</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.standardniPeriodZadrzavanjaMigranta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.standardniPeriodZadrzavanjaMigranta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brojZatvorenih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brojZatvorenih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kapacitet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kapacitet)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
