@model IEnumerable<MigrantControlSystem.Models.Migrant>

@{
    ViewData["Title"] = "Index";
}

<h1>Migranti</h1>

<p>
    <a asp-action="Create">Dodaj novog migranta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prezime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prezime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
